<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.znakomstvaonlain.prilojeniedlyaznakomstvonline">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrilojenieDlyaZnakomstvOnline">
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chats.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Mathes.MathesActivity"
            android:exported="false" />
        <activity
            android:name=".Users.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Users.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Users.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Users.ChooselLoginOrRegistrationActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>